name: Build

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"
    types: [opened, synchronize, reopened]
    
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  verify-formatting:
    name: Verify Formatting
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Source
        uses: actions/checkout@v6

      - name: Verify Formatting
        uses: jidicula/clang-format-action@v4.16.0
        with:
          clang-format-version: "20"

  build-windows:
    name: Build Windows
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        configuration:
          - Debug
          - Release
        include:
          - configuration: Debug
            preset: debug
          - configuration: Release
            preset: release
    steps:
      - name: Checkout Source
        uses: actions/checkout@v6
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Enable Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1.13.0

      - name: CMake Build
        run: cmake --workflow --preset=${{matrix.preset}}

      - name: Upload Binary
        uses: actions/upload-artifact@v6
        with:
          name: Windows ${{matrix.configuration}} Binaries
          path: |
            build/${{matrix.preset}}/artifacts/w3m.exe
            build/${{matrix.preset}}/artifacts/w3m.pdb
            build/${{matrix.preset}}/artifacts/server.exe
            build/${{matrix.preset}}/artifacts/server.pdb

      - name: Upload Data Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: Windows ${{matrix.configuration}} Data Artifacts
          path: |
            data/*
    
  build-linux:
    name: Build Linux
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        configuration:
          - Debug
          - Release
        include:
          - configuration: Debug
            preset: debug
          - configuration: Release
            preset: release
    steps:
      - name: Checkout Source
        uses: actions/checkout@v6
        with:
          submodules: recursive
          fetch-depth: 0

      - name: CMake Build
        run: cmake --workflow --preset=${{matrix.preset}}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: Linux ${{matrix.configuration}} Artifacts
          path: |
            build/${{matrix.preset}}/artifacts/server

  deploy:
    name: Deploy Server
    needs: [build-windows, build-linux, verify-formatting]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && (github.ref == 'refs/heads/main')
    steps:
      - name: Download master server binary
        uses: actions/download-artifact@v7
        with:
          name: Linux Release Artifacts

      - name: Download release data artifacts
        uses: actions/download-artifact@v7
        with:
          name: Windows Release Data Artifacts
          path: data

      - name: Download release binaries
        uses: actions/download-artifact@v7
        with:
          name: Windows Release Binaries

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2.7.0
        with:
          key: ${{ secrets.MOMO_SERVER_SSH_PRIVATE_KEY }}
          known_hosts: "just-a-placeholder-so-we-dont-get-errors"

      - name: Add known hosts
        run: ssh-keyscan -H ${{ secrets.MOMO_SERVER_HOSTNAME }} >> ~/.ssh/known_hosts

      - name: Upload Server Binary
        run: rsync -avz server ${{ secrets.MOMO_SERVER_USER }}@${{ secrets.MOMO_SERVER_HOSTNAME }}:~/

      - name: Remove old data
        run: ssh ${{ secrets.MOMO_SERVER_USER }}@${{ secrets.MOMO_SERVER_HOSTNAME }} "rm -rf ${{ secrets.MOMO_SERVER_DATA_PATH }}/data/*"

      - name: Upload Game Binary
        run: rsync -avz w3m.exe ${{ secrets.MOMO_SERVER_USER }}@${{ secrets.MOMO_SERVER_HOSTNAME }}:${{ secrets.MOMO_SERVER_DATA_PATH }}/

      - name: Upload Data Files
        run: rsync -avz ./data/ ${{ secrets.MOMO_SERVER_USER }}@${{ secrets.MOMO_SERVER_HOSTNAME }}:${{ secrets.MOMO_SERVER_DATA_PATH }}/data/

      - name: Publish changes
        run: ssh ${{ secrets.MOMO_SERVER_USER }}@${{ secrets.MOMO_SERVER_HOSTNAME }} "${{ secrets.MOMO_SERVER_UPDATE_COMMAND }}"
